html, body, #logo-table {
	background-color: #000;
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	color: white;
	font-family: sans;
}

a{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.content {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}

#logo-table td {
	vertical-align: middle;
	text-align: center;
}

#main-menu-table{
	text-align: center;
}

#main-menu-table td{
	padding-bottom: 10%;
}

#title-main-menu{
	width: 100%;
	margin-bottom: -15%;	
}

.button-main-menu{
	width: 50%;
}

#who-div {
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

#who-div li{
	padding: 10px;
	line-height: 25px;
	text-align: left;
}

#who-div img{
	width: 100%;
	border-radius: 10px;
}

#gallery-link{
	text-decoration:none;
	background-color: #CCC;
	padding: 10px;
	color: #222;
	font-family: sans;
	border-radius: 10px;
	border-color: #BBB;
	border: 2px;
	font-size: 20px;
}

#gallery-link:hover{
	text-decoration:none;
	background-color: #222;
	padding: 10px;
	color: #CCC;
	font-family: sans;
	border-radius: 10px;
	border-color: #BBB;
	border: 2px;
	font-size: 20px;
}


.pagination1 .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
}
.pagination1 .swiper-active-switch {
  background: #fff;
}

#who-div, #galeria {
  padding-bottom: 20px;
}

.main-left {
  clear: both;
  width: 50%;
  float: left;
  position: relative;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.main-right {
  width: 50%;
  float: right;
  position: relative;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.logo {
  width: 65%;
}

.main-logo {
  width: 100%;
}

#splash-logo {
  width: 100%;
  position: relative;
  top: 30%;
}

#header {
  padding-top: 5%;
  padding-bottom: 5%;
}

#header2 {
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Google Maps */
#map-wrapper {
  padding-top: 4%;  
}

#google-map {
  width: 95%;
  height: 300px;
}
.center-wrapper{
  text-align: center;
}
.center-wrapper * {
  margin: 0 auto;
}

#globus-gmap {
  color: black;
  font-size: small;
}

#globus-gmap h1 {
  font-size: normal;
  font-weight: bold;
}

/*Chapuza maxima, pero es la manera de que el plugin de Gmaps no sobreescrigui el CSS i faci que es vegi tot "cap a l'esquerra"*/
#where-table {
  width: 100% !important;
  text-align: center !important;
}

/************************
*   Cocktails screen    *
************************/

.cocktail_slide_image{
  width: 90%;
  max-height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.arrow-left{
  background-image: url('../images/ic_arrow_left.png');
  position: absolute;
  left: -1%;
  top: 28%;
  width: 72px;
  height: 72px;
  z-index: 100;
  float: left;º
}

.arrow-right{
  background-image: url('../images/ic_arrow_right.png');
  position: absolute;
  right: 1%;
  top: 28%;
  width: 66px;
  height: 72px;
  z-index: 100;
}

#element_loading{
  position: absolute;
  top: 40%;
  left: 50%;
}

.cocktails-main-left {
  width: 50%;
  left: 3%;
  float: left;
}

.cocktails-main-center {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.cocktails-main-right {
  width: 50%;
  right: 5%;
  float: right;
}

.cocktails-main-bottom{
  clear: both;
  height: 15px;
}

#finish_elem{
  position: relative;
  right: 5%;
}

#buttons{
  bottom: 0;
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
}

.name_container{
  margin-top: 16%;
}

#cocktail_name{
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 10%;
}

#title{
  margin-bottom: 2%;
  margin-top: 2%; 
  font-size: 26px;
}

#cocktail_image{
  width: 80%;
  border-radius: 15px;
}

#cocktail_info{
  margin-left: 8%; 
  padding-bottom: 10%;
  margin-top: 3%;
  font-family: Verdana;
  text-align: left;
  line-height: 20px;
}

.title_section{
  font-family: customFont;
}

.border-amarillo{
  border: 2px solid gold;
}

.border-rojo{
    border: 2px solid red;
}

.border-verde{
    border: 2px solid greenyellow;
}

.border-naranja{
    border: 2px solid orange;
}

.list_cocktail{
  margin-left: auto;
  margin-right: auto;
  background-color: #CCC;
  border: 2px solid #444;
  padding: 10px;
  width: 85%;
}

.list_cocktail_r{
  margin-left: auto;
  margin-right: auto;
  background-color: #444;
  border: 2px solid #CCC;
  padding: 10px;
  width: 85%;
}

.list_cocktail_item{
  font-family: customFont;
  width: 90%;
  height: 4em;
  margin: auto;
  color: black;
  font-size: 18px;
}

.list_cocktail_item_r{
  font-family: customFont;
  width: 90%;
  height: 4em;
  margin: auto;
  color: #EEE;
  font-size: 26px;
}
