<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title data-i18n="app_name">Sinatra Cockteleria</title>
    <script src="../javascripts/cordova-2.3.0.js"></script>
    <script src="../javascripts/jquery-1.8.2.min.js"></script>
    <script src="../javascripts/controllers/base_controller.js"></script>
    <script src="../javascripts/cocktail.js"></script>
    <script src="../javascripts/bootstrap/bootstrap.min.js"></script>
    <link media="screen" rel="stylesheet" href="../stylesheets/bestCocktails.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.min.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/bootstrap/bootstrap-responsive.min.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/style.css" />
    <script>
      $(document).ready(function() {
        
        var params = getUrlParameters();
                
        if (params.type == 'best') {
        
          //TODO Rebem l'objecte JSON del servidor. Mentre no estigui implementat, suposarem que el tenim aqui:
          var json = {"cocktails": [
            new Cocktail(0, "Muerte", "Destruccion", "Cola-loca", "Vaso 1", "Cocktail supremo", "Negro", "GLaDOS", 1),
            new Cocktail(1, ["Cerveza", "Mas cerveza"], "Mucha mas cerveza", "Cerveza de la buena", "Vaso de pinta", "El mejor", "Rojo", "Johnny"),
            new Cocktail(2, ["Cerveza", "Mas cerveza"], "Mucha mas cerveza", "Cerveza de la buena", "Vaso de pinta", "El mejor", "Rojo", "Johnny"),
            new Cocktail(3, ["Cerveza", "Mas cerveza"], "Mucha mas cerveza", "Cerveza de la buena", "Vaso de pinta", "El mejor", "Rojo", "Johnny"),
            new Cocktail(4, ["Cerveza", "Mas cerveza"], "Mucha mas cerveza", "Cerveza de la buena", "Vaso de pinta", "El mejor", "Rojo", "Johnny"),
            new Cocktail(5, ["Cerveza", "Mas cerveza"], "Mucha mas cerveza", "Cerveza de la buena", "Vaso de pinta", "El mejor", "Rojo", "Johnny"),
            new Cocktail(6, ["Cerveza", "Mas cerveza"], "Mucha mas cerveza", "Cerveza de la buena", "Vaso de pinta", "El mejor", "Rojo", "Johnny"),
            new Cocktail(7, ["Cerveza", "Mas cerveza"], "Mucha mas cerveza", "Cerveza de la buena", "Vaso de pinta", "El mejor", "Rojo", "Johnny"),
            new Cocktail(8, ["Cerveza", "Mas cerveza"], "Mucha mas cerveza", "Cerveza de la buena", "Vaso de pinta", "El mejor", "Rojo", "Johnny"),
            new Cocktail(9, ["Cerveza", "Mas cerveza"], "Mucha mas cerveza", "Cerveza de la buena", "Vaso de pinta", "El mejor", "Rojo", "Johnny"),
            new Cocktail(10, ["Cerveza", "Mas cerveza"], "Mucha mas cerveza", "Cerveza de la buena", "Vaso de pinta", "El mejor", "Rojo", "Johnny"),
            new Cocktail(11, ["Cerveza", "Mas cerveza"], "Mucha mas cerveza", "Cerveza de la buena", "Vaso de pinta", "El mejor", "Rojo", "Johnny"),
          ]};
  
          for (var c in json.cocktails) {
            var cktl = json.cocktails[c];
            var btn = $('<button>', {
              id: cktl.id,
              class: 'btn',
              style: 'width: 90%; height: 4em; margin: auto;',
              text: cktl.nombre,
              click: function(e) {
                loadPage('cocktail.html', {id: this.id})
              }
            });
            
            if (cktl.id == "r") {
              $("#recommended-cocktail").append(btn);
            } else {
              //TODO Scroll nomes de la llista, infinit (va carregant a mesura que baixes)
              $("#list-cocktails").append(btn);
            }
          }
          
        } else if (params.type == 'user') {
          
        }
      });
    </script>
  </head>
  <body>
    <div class="content">
      <div id="header">
        <img class="logo" src="../images/logo_petit.png" alt="Sinatra Cocteleria" onclick="loadPage('index.html')"/>
      </div>
      <div id="best-div">
        Cocktail recomendado:
        <div id="recommended-cocktail" class="btn-group btn-block"></div>
        Los 10 mejores cocktails:
        <div id="list-cocktails" class="btn-group btn-group-vertical btn-block"></div>
      </div>
      <div id="footer">
        <form class="form-search" action="userList.html" onsubmit="loadPage('userList.html', {user: this.userQuery});">
          <input name="userQuery" type="text" class="input-medium search-query" placeholder="Buscar usuarios...">
        </form>
      </div>
    </div>
  </body>
</html>
