<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../javascripts/cordova-2.3.0.js"></script>
    <script src="../javascripts/locale.js"></script>
    <script src="../javascripts/jquery-1.8.2.min.js"></script>
    <script src="../javascripts/controllers/base_controller.js"></script>
    <script src="../javascripts/controllers/server_controller.js"></script>
    <script src="../javascripts/cocktail.js"></script>
    <script src="../javascripts/spin.min.js"></script>
    <script src="../javascripts/bootstrap/bootstrap.min.js"></script>
    <script src="../javascripts/optionsMenu.js"></script>
    <link media="screen" rel="stylesheet" href="../stylesheets/bestCocktails.css" /><!--
    <link media="screen" rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.min.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/bootstrap/bootstrap-responsive.min.css" />-->
    <link media="screen" rel="stylesheet" href="../stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/style.css" />
    
    <script src="../javascripts/facebook-js/ui.js"></script>
    <script src="../javascripts/facebook-js/auth.js"></script>
    <script src="../javascripts/facebook-js/feed.js"></script>
    <script src="../javascripts/facebook-js/graph_api.js"></script>
    <script src="../javascripts/facebook-js/requests.js"></script>
    <!-- cordova facebook plugin -->
    <script src="../javascripts/cdv-plugin-fb-connect.js"></script>
    <!-- facebook js sdk -->
    <script src="../javascripts/facebook_js_sdk.js"></script>
    
    <script>
      
      document.addEventListener("deviceready", function(){
        FB.init({
            appId: '326614590799358',
            nativeInterface: CDV.FB,
            useCachedDialogs: false
        });
        authUser();
        
        loadCocktails();
      });
      
      var page = 0;
    
      $(document).ready(function() {
        var locale = getBrowserLocale();
        $('#content').hide();
        $('#less').hide();
        $('#more').hide();
        var opts = {
          lines : 13, // The number of lines to draw
          length : 20, // The length of each line
          width : 23, // The line thickness
          radius : 40, // The radius of the inner circle
          corners : 1, // Corner roundness (0..1)
          rotate : 90, // The rotation offset
          direction : 1, // 1: clockwise, -1: counterclockwise
          color : '#CCC', // #rgb or #rrggbb
          speed : 0.5, // Rounds per second
          trail : 52, // Afterglow percentage
          shadow : true, // Whether to render a shadow
          hwaccel : true, // Whether to use hardware acceleration
          className : 'spinner', // The CSS class to assign to the spinner
          zIndex : 2e9, // The z-index (defaults to 2000000000)
          top : 'auto', // Top position relative to parent in px
          left : 'auto' // Left position relative to parent in px
        }
        var target = document.getElementById('loading');
        var spinner = new Spinner(opts).spin(target);
      });  
        
        
      function loadCocktails(){  
        var params = getUrlParameters();
        var cocktails;
                
        if (params.type == 'best') {
          $.ajax({
            type : "GET",
            url : server_url + cocktails_route + "/q/0",
            dataType : "json",
            async : false,
            success : function(data){
              cocktails = data;
              $('#loading').hide();
              $('#content').show();
            },
            error: function(header, status, from){
              alert("Error");
            }
          });
          $.ajax({
            type : "GET",
            url : server_url + cocktails_route + "/recommended",
            dataType : "json",
            async : false,
            success : function(cktl){
              var a = "<li class=\"list_cocktail_r\" onclick=\"loadPage('cocktail.html', {id: 'r'})\"><a id: 'r' class=\"list_cocktail_item_r\">" + cktl.nombre + "</a></li>";
              $("#recommended-cocktail").append(a);
            },
            error: function(header, status, from){
              alert("Error");
            }
          });
        } else if (params.type == 'user') {
          
          $('#less').hide();
          $('#more').hide();
          username = params.id;
          $.ajax({
            type : "GET",
            url : server_url + cocktails_route + "/user/" + params.id,
            dataType : "json",
            async : false,
            success : function(data){
              cocktails = data;
              $('#loading').hide();
              $('#content').show();
            },
            error: function(header, status, from){
              alert("Error");
            }
          });
          
          //Get user name (facebook)
          $.ajax({
            type : "GET",
            url : "http://graph.facebook.com/" + username,
            dataType : "json",
            success : function(data){
              if(locale == 'es' || locale == 'ca') $('#txt_list_name').text('de ' + data.name + ':');
              else  $('#txt_list_name').text('of ' + data.name + ':');
              $('#txt_list_name').show();
            },
            error: function(header, status, from){
              alert("Error");
            }
          });
          
          $('#txt_recommended').remove();
        }

        for (var c in cocktails) {
          var cktl = cocktails[c];
          var a = "<li class=\"list_cocktail\" onclick=\"loadPage('cocktail.html', {id: '" + cktl._id + "'})\"><a id:'" + cktl._id + "' class=\"list_cocktail_item\">" + cktl.nombre + "</a></li>";
           $("#list-cocktails").append(a);
        }
        $('#more').show();
      }
      
      function more10(){
        page++;
        if(page > 0){
          $('#less').show();
        }
        $('#list-cocktails').html("");
        $('#loading').show();
        $.ajax({
          type : "GET",
          url : server_url + cocktails_route + "/q/" + (page*10),
          dataType : "json",
          async : false,
          success : function(data){
            
            if(data.length == 0){
              //alert("No hay más cocktails para mostrar");
              less10();
            }
            else{
           	  if(data.length < 10){
                $('#more').hide();
           	  }
              cocktails = data;
              $('#loading').hide();
              for (var c in cocktails) {
                var cktl = cocktails[c];
                var a = "<li class=\"list_cocktail\" onclick=\"loadPage('cocktail.html', {id: '" + cktl._id + "'})\"><a id:'" + cktl._id + "' class=\"list_cocktail_item\">" + cktl.nombre + "</a></li>";
                $("#list-cocktails").append(a);
              }
            }
          },
          error: function(header, status, from){
            alert("Error");
          }
        });
        
      }
      
      function less10(){
        page--;
        if(page == 0){
          $('#less').hide();
        }
        $('#list-cocktails').html("");
        $('#loading').show();
        $('#more').show();
        $.ajax({
          type : "GET",
          url : server_url + cocktails_route + "/q/" + (page*10),
          dataType : "json",
          async : false,
          success : function(data){
            cocktails = data;
            $('#loading').hide();
            for (var c in cocktails) {
              var cktl = cocktails[c];
              var a = "<li class=\"list_cocktail\" onclick=\"loadPage('cocktail.html', {id: '" + cktl._id + "'})\"><a id:'" + cktl._id + "' class=\"list_cocktail_item\">" + cktl.nombre + "</a></li>";
              $("#list-cocktails").append(a);
            }
          },
          error: function(header, status, from){
            alert("Error con el servidor");
          }
        });
      }
      
    </script>
    <style>
      @font-face {
        font-family: customFont;
        src: url('../fonts/knewave.ttf');
      }
      
      .content {
        font-family: Verdana;
      }
      
    </style>
  </head>
  <body>
    <!-- This initializes the Facebook JS SDK. -->
    <div id="fb-root"></div>
    
    <div id="action">
      <div id="loading-icon"></div>
    
      <div id="msg"></div>
    </div>
    <div class="content">
      <div id="header">
        <img class="logo" src="../images/logo_petit.png" alt="Sinatra Cocteleria" onclick="loadPage('index.html')"/>
      </div>
      <div id="best-div">
       <span id="txt_recommended" data-i18n="recommended_cocktail"></span>
        <ul id="recommended-cocktail"></ul>
        <span id="txt_list" data-i18n="cocktails_list_generic"></span>
        <span id="txt_list_name" style="display:none;"></span>
        <ul id="list-cocktails" style="margin-top: 2%; padding-bottom: 5%;"></ul>
      </div>
      <div id="footer">
<!--        <form class="form-search" action="userList.html" style="margin-top: 2%;" onsubmit="loadPage('userList.html', {user: this.userQuery});">
          <input name="userQuery" type="text" class="input-medium search-query" placeholder="Buscar usuarios...">
        </form>
      </div>
-->
      <div class="cocktails-main-left">
        <a id="less" onclick="less10()"> 
          <img id="lessImg" class="button-main-menu" src="../images/ic_less.png"/>
        </a>
      </div>
      <div class="cocktails-main-right">
        <a id="more" onclick="more10()">
          <img id="moreImg" class="button-main-menu" src="../images/ic_more.png"/>
        </a>
      </div>
    </div>
    <div id="loading" style="margin-top: 40%;"></div>
  </body>
</html>
