<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title data-i18n="app_name"></title>
    <script src="../javascripts/cordova-2.3.0.js"></script>
    <script src="../javascripts/jquery-1.8.2.min.js"></script>
    <script src="../javascripts/controllers/base_controller.js"></script>
    <script src="../javascripts/webintent.js"></script>
    <link media="screen" rel="stylesheet" href="../stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/style.css" />
    <style>
      @font-face {
        font-family: customFont;
        src: url('../fonts/knewave.ttf');
      }
      
      .content {
        font-family: customFont;
      }
    </style>
  </head>
  <body>
  	<div class="content">
      <div class="main-logo" style="margin-bottom: 5%;">
        <img id="title-main-menu" src="../images/logo.jpg"/>
      </div>
      <p style="margin-bottom: 5%; font-family: Verdana; margin-left: 5%; margin-right: 5%;">Si encuentras qualquier fallo o error en la aplicación, 
        te agradeceríamos mucho que nos lo comunicaras a</p>
        <a onclick="sendEmail('devsinatracockteleria@gmail.com', '', '')">devsinatracockteleria@gmail.com</a>
        <p style="font-family: Verdana; margin-left: 5%; margin-right: 5%; margin-bottom: 5%; margin-top: 5%;">(Click en el enlace para enviar un mail)</p>
      <p style="font-family: Verdana; margin-left: 5%; margin-right: 5%; margin-bottom: 5%; margin-top: 5%;">para poder solucionarlo lo antes posible.</p>
      <p style="font-family: Verdana; margin-bottom: 5%;">Aplicación desarrollada por:</p>
      <p style="font-family: Verdana; margin-bottom: 2%;">José Antonio Manrique Carrillo</p>@_JoseManrique
      <p style="font-family: Verdana; margin-bottom: 4%; margin-top: 4%;">y</p></li>
      <p style="font-family: Verdana; margin-bottom: 2%;">Jonathan Clara Márquez</p>@jooohnny32
   </div>
  </body>
</html>