<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title data-i18n="app_name"></title>
    <script src="../javascripts/cordova-2.3.0.js"></script>
    <script src="../javascripts/jquery-1.8.2.min.js"></script>
    <script src="../javascripts/controllers/base_controller.js"></script>
    <link media="screen" rel="stylesheet" href="../stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/style.css" />
    <style>
      @font-face {
        font-family: customFont;
        src: url('../fonts/knewave.ttf');
      }
      
      .content {
        font-family: customFont;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <div class="main-logo">
        <img id="title-main-menu" src="../images/logo.jpg"/>
      </div>
      <div class="main-left">
        <a id="who_btn" onclick="loadPage('whoWeAre.html')">
          <img class="button-main-menu" src="../images/ic_quienes_somos.png"/>
        </a>
        <p>Quienes somos</p>
      </div>
      <div class="main-right">
        <a id="where_btn" onclick="loadPage('whereWeAre.html')">
          <img class="button-main-menu" src="../images/ic_donde_estamos.png"/>
        </a>
        <p>Donde estamos</p>
      </div>
			<div class="main-left">
			  <a id="cocktail_btn" onclick="loadPage('makeCocktail_intro.html')">
          <img class="button-main-menu" src="../images/ic_cocktail.png"/>
        </a>
        <p>Crea tu propio<br>cocktail</p>
			</div>
			<div class="main-right">
			  <a id="best_btn" onclick="loadPage('bestCocktails.html')">
			   <img class="button-main-menu" src="../images/ic_los_mejores.png"/>
			  </a>
        <p>Los mejores</p>
			</div>
    </div>
  </body>
</html>