<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../javascripts/spin.min.js"></script>
    <script src="../javascripts/locale.js"></script>
    <script src="../javascripts/cordova-2.3.0.js"></script>
    <script src="../javascripts/jquery-1.8.2.min.js"></script>
    <script src="../javascripts/cdv-plugin-fb-connect.js"></script>
    <script src="../javascripts/facebook_js_sdk.js"></script>
    <script src="../javascripts/controllers/base_controller.js"></script>
    <script src="../javascripts/optionsMenu.js"></script>
    <link media="screen" rel="stylesheet" href="../stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/style.css" />
    <style>
      @font-face {
        font-family: customFont;
        src: url('../fonts/knewave.ttf');
      }
      
      .content {
        font-family: customFont;
      }
      
    </style>
    
    <script src="../javascripts/facebook-js/ui.js"></script>
    <script src="../javascripts/facebook-js/auth.js"></script>
    <script src="../javascripts/facebook-js/feed.js"></script>
    <script src="../javascripts/facebook-js/graph_api.js"></script>
    <script src="../javascripts/facebook-js/requests.js"></script>
    <!-- cordova facebook plugin -->
    <script src="../javascripts/cdv-plugin-fb-connect.js"></script>
    <!-- facebook js sdk -->
    <script src="../javascripts/facebook_js_sdk.js"></script>
    
    <script>
      document.addEventListener("deviceready", function(){
           
        FB.init({
            appId: '326614590799358',
            nativeInterface: CDV.FB,
            useCachedDialogs: false
        });
        authUser();
        
        $('#saveImg').hover(function() {
          $(this).attr('src', '../images/ic_cocktail_checkmark_hover.png');
        }, function() {
          $(this).attr('src', '../images/ic_cocktail_checkmark.png');
        });
        
      });

      $(document).ready(function() {
        console.log("DOCUMENT READY");
        console.log("MAKE COCKTAIL FINAL: " + window.localStorage.getItem("cocktail_temp"));

        var opts = {
          lines : 13, // The number of lines to draw
          length : 20, // The length of each line
          width : 23, // The line thickness
          radius : 40, // The radius of the inner circle
          corners : 1, // Corner roundness (0..1)
          rotate : 90, // The rotation offset
          direction : 1, // 1: clockwise, -1: counterclockwise
          color : '#CCC', // #rgb or #rrggbb
          speed : 0.5, // Rounds per second
          trail : 52, // Afterglow percentage
          shadow : true, // Whether to render a shadow
          hwaccel : true, // Whether to use hardware acceleration
          className : 'spinner', // The CSS class to assign to the spinner
          zIndex : 2e9, // The z-index (defaults to 2000000000)
          top : 'auto', // Top position relative to parent in px
          left : 'auto' // Left position relative to parent in px
        }
        var target = document.getElementById('loading');
        var spinner = new Spinner(opts).spin(target);
        var data_img;
        //Obtenir imatge cocktail
        cocktail = window.localStorage.getItem("cocktail_temp");
        console.log("===>get cocktail image");

        $.ajax({
          type : "GET",
          url : "http://www.sinatracockteleriapp.com/api/cocktails/get_image_cocktail",
          data : JSON.parse(cocktail),
          success : function(data){
            console.log("Success image: " + JSON.stringify(data));
            data_img = data.image;
            $('#cocktail_image').attr("src", "http://www.sinatracockteleriapp.com" + data_img);
            $('#cocktail_image').attr("class", "border-azul");
            loadCocktail();
          },
          error: function(header, status, from){
            alert("Error con el servidor getting image");
          }
        });
        
        $('#send_cocktail').click(function() {
          
          console.log("SEND COCKTAIL CLICK");
          var user_id = window.localStorage.getItem("fb_id");
          //var user_id = "1093535454";
          
          var cocktail = jQuery.parseJSON(window.localStorage.getItem("cocktail_temp"));
          cocktail.fb_user = user_id;
          cocktail.image = data_img;
          //cocktail = JSON.stringify(cocktail);
          console.log("SEND: " + JSON.stringify(cocktail));
          $.ajax({
            type : "POST",
            url : "http://www.sinatracockteleriapp.com/api/cocktails/",
            //data : JSON.parse(cocktail),
            data : cocktail,
            success : function(data) {
              //Mostrar pagina de compartir
              // data.url -> Url a postejar al fb
              // data.id -> Id del cocktail
              console.log("SUCESS: " + JSON.stringify(data));
              console.log("ID: " + data.id);
              console.log("IMAGE: " + data_img);
              cocktail = jQuery.parseJSON(window.localStorage.getItem("cocktail_temp"));
              console.log("NAME: " + cocktail.name);
              console.log("COCKTAIL: " + JSON.stringify(cocktail));
              //TODO uncomment this line
              publishStory(cocktail.name, data.id, data_img);
              console.log("AFTER PUBLISH STORY");
              loadPage('cocktail.html', {"id": data.id, "back": '1'})
            },
            error : function(data) {
              alert("Error con el servidor");
            }
          });
        });
      });

      function loadCocktail() {
        
        $('#info').show();
        $('#loading').hide();
        var locale = getBrowserLocale();
        cocktail = jQuery.parseJSON(window.localStorage.getItem("cocktail_temp_with_names"));
        $('#cocktail_info').append("<span class=\"title_section\">" + i18n["Zumo"][locale] + ": </span>");
        for (var i = 0; i < cocktail.juices.length; i++) {
          console.log("JUICES: " + JSON.stringify(cocktail.juices[i]));
          if(i != cocktail.juices.length - 1)
            $('#cocktail_info').append(cocktail.juices[i] + ",");
          else
            $('#cocktail_info').append(cocktail.juices[i] + "<br />");
        }
        if(cocktail.licors.length > 0){
          $('#cocktail_info').append("<span class=\"title_section\">" + i18n["Licor"][locale] + ": </span>");
          for (var i = 0; i < cocktail.licors.length; i++) {
            if(i != cocktail.licors.length - 1)
              $('#cocktail_info').append(cocktail.licors[i] + ",");
            else
              $('#cocktail_info').append(cocktail.licors[i] + "</br>");
          }
        }
        $('#cocktail_info').append("<span class=\"title_section\">" + i18n["Carbonico"][locale] + ": </span>" + cocktail.carbonic + "</br>");
        $('#cocktail_info').append("<span class=\"title_section\">" + i18n["Vaso"][locale] + ": </span>" + cocktail.glass + "</br>");
        $('#title').append(cocktail.name + "</br>");
      }

    </script>
    <style>
      @font-face {
        font-family: customFont;
        src: url('../fonts/knewave.ttf');
      }

      .content {
        font-family: customFont;
      }
    </style>

  </head>
  <body>
    <!-- This initializes the Facebook JS SDK. -->
    <div id="fb-root"></div>
    
    <div id="action">
      <div id="loading-icon"></div>
    
      <div id="msg"></div>
    </div>
    <div class="content">
      <div id="title"></div>
      <div id="loading" style="margin-top: 60%;"></div>
      <div id="info" style="display: none;">
        <img id="cocktail_image" />
        <div id="cocktail_info"></div>
        
      </div>
        
      <div>
        <a id="send_cocktail">
          <img id="saveImg" src="../images/ic_cocktail_checkmark.png"/>
          <p data-i18n="save_cocktail"></p>
        </a>
      </div>
    </div>
  </body>
</html>