<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title data-i18n="app_name"></title>
    <script src="../javascripts/cordova-2.3.0.js"></script>
    <script src="../javascripts/jquery-1.8.2.min.js"></script>
    <script src="../javascripts/controllers/base_controller.js"></script>
    <script src="../javascripts/controllers/cocktails_controller.js"></script>
    <script src="../javascripts/spin.min.js"></script>
    <link media="screen" rel="stylesheet" href="../stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/style.css" />

    <!-- Swiper -->
    <script defer src="../javascripts/idangerous.swiper-1.8.min.js"></script>
    <link media="screen" rel="stylesheet" href="../stylesheets/idangerous.swiper.css" />

    <style>
      @font-face {
        font-family: customFont;
        src: url('../fonts/knewave.ttf');
      }

      .content {
        font-family: customFont;
      }
    </style>

    <script>
      $(document).ready(function($) {
        var opts = {
          lines : 13, // The number of lines to draw
          length : 20, // The length of each line
          width : 23, // The line thickness
          radius : 40, // The radius of the inner circle
          corners : 1, // Corner roundness (0..1)
          rotate : 90, // The rotation offset
          direction : 1, // 1: clockwise, -1: counterclockwise
          color : '#333', // #rgb or #rrggbb
          speed : 0.5, // Rounds per second
          trail : 52, // Afterglow percentage
          shadow : true, // Whether to render a shadow
          hwaccel : true, // Whether to use hardware acceleration
          className : 'spinner', // The CSS class to assign to the spinner
          zIndex : 2e9, // The z-index (defaults to 2000000000)
          top : 'auto', // Top position relative to parent in px
          left : 'auto' // Left position relative to parent in px
        }
        var target = document.getElementById('element_loading');
        var spinner = new Spinner(opts).spin(target);
      });

    </script>

  </head>
  <body>
    <div class="content">
      <div id="title" style="font-size: 22px; margin: 10px 0 10px 0;">
        ZUMOS
      </div>
      <div class="swiper-container" id="id_swiper_container">
        <div class="swiper-wrapper">

        </div>
      </div>
      <div id="element_loading"></div>
      <div id="swiper-pagination" class="pagination pagination1"></div>
      <div id="remain_elem">
        <span id="remain_elem"></span>
      </div>
      <div id="buttons">
        <div class="cocktails-main-left">
          <a id="add_elem"> <img class="button-main-menu" src="../images/ic_add.png"/>
          <p>
            Añadir
          </p> </a>
        </div>
        <div class="cocktails-main-right">
          <a id="finish_elem"> <img class="button-main-menu" src="../images/ic_checkmark.png"/>
          <p id="finish_elem_p">
            Finalizar sección
          </p> </a>
        </div>
        <div class="cocktails-main-bottom"></div>
      </div>
  </body>
</html>