<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../javascripts/cordova-2.3.0.js"></script>
    <script src="../javascripts/jquery-1.8.2.min.js"></script>
    <script src="../javascripts/locale.js"></script>
    <script src="../javascripts/controllers/base_controller.js"></script>
    <script src="../javascripts/spin.min.js"></script>
    <script src="../javascripts/locale.js"></script>
    <script src="../javascripts/optionsMenu.js"></script>
    <link media="screen" rel="stylesheet" href="../stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/style.css" />
    
    <script src="../javascripts/facebook-js/ui.js"></script>
    <script src="../javascripts/facebook-js/auth.js"></script>
    <script src="../javascripts/facebook-js/feed.js"></script>
    <script src="../javascripts/facebook-js/graph_api.js"></script>
    <script src="../javascripts/facebook-js/requests.js"></script>
    <!-- cordova facebook plugin -->
    <script src="../javascripts/cdv-plugin-fb-connect.js"></script>
    <!-- facebook js sdk -->
    <script src="../javascripts/facebook_js_sdk.js"></script> 
    
    <style>
      @font-face {
        font-family: customFont;
        src: url('../fonts/knewave.ttf');
      }
      
      .content {
        font-family: customFont;
      }
    </style>
    
    <script>
      document.addEventListener("deviceready", function(){
        FB.init({
            appId: '326614590799358',
            nativeInterface: CDV.FB,
            useCachedDialogs: false
        });
        authUser();
        
        $('#makeCocktailImg').hover(function() {
          $(this).attr('src', '../images/ic_cocktail_add_hover.png');
        }, function() {
          $(this).attr('src', '../images/ic_cocktail_add.png');
        });
        
        $('#ownCocktailsImg').hover(function() {
          $(this).attr('src', '../images/ic_cocktail_safe_hover.png');
        }, function() {
          $(this).attr('src', '../images/ic_cocktail_safe.png');
        });
        
      });
      
      function owncocktails(){
        var user_id = window.localStorage.getItem("fb_id");
        loadPage('cocktails.html', {type: 'user', id: user_id});
      }
    </script>
  </head>
  <body>
    <!-- This initializes the Facebook JS SDK. -->
    <div id="fb-root"></div>
    
    <div id="action">
      <div id="loading-icon"></div>
    
      <div id="msg"></div>
    </div>
    <div class="content">
      <div id="header2">
        <img class="logo" src="../images/logo_petit.png" alt="Sinatra Cocteleria" onclick="loadPage('index.html')"/>
      </div>
      <div style="font-family: Verdana; text-align: justify; line-height: 20px;">
        <p style="margin: 5%;" data-i18n="make_cocktail1"></p>
        <p style="margin: 5%;" data-i18n="make_cocktail2"></p>
        <p style="margin: 5%;" data-i18n="make_cocktail3"></p>
      </div>
      <div>
        <ul>
          <li>
            <div class="main-left">
              <a id="cocktail_btn" onclick="loadPage('makeCocktail.html')">
                <img id="makeCocktailImg" class="button-main-menu" src="../images/ic_cocktail_add.png"/>
                <p data-i18n="make_cocktail"></p>
              </a>
            </div>
          </li>
          <li>
            <div class="main-right">
              <a id="cocktail_btn" onclick="owncocktails()">
                <img id="ownCocktailsImg" class="button-main-menu" src="../images/ic_cocktail_safe.png"/>
                <p data-i18n="my_other_cocktails"></p>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <p id="facebook_id" style="display:none;"></p>
      <div id="user-info" style="display:none;"></div>
    </div>
  </body>
</html>