<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title data-i18n="app_name"></title>
    <script src="../javascripts/cordova-2.3.0.js"></script>
    <script src="../javascripts/jquery-1.8.2.min.js"></script>
    <script src="../javascripts/controllers/base_controller.js"></script>
    
    <link rel="stylesheet" href="../stylesheets/idangerous.swiper.css">
    
    <!-- Swiper -->
    <script defer src="../javascripts/idangerous.swiper-1.8.min.js"></script>

    <link media="screen" rel="stylesheet" href="../stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/style.css" />
    <script>
      $(document).ready(function($) {
        var json = jQuery.parseJSON(getURLParameter('0'));
        for (var i = 0; i < json.zumo.length; i++) {
          $('#info').append(json.zumo[i].title + "</br>");
        }
        for (var i = 0; i < json.licor.length; i++) {
          $('#info').append(json.licor[i].title + "</br>");
        }
        $('#info').append(json.carbonico[0].title + "</br>");
        $('#info').append(json.vaso[0].title + "</br>");
        $('#info').append(json.nombre + "</br>");
      });
    </script>
    
  </head>
  <body>
    <div class="content">
      <div id="title">
        MEZCLAR
      </div>
      <div id="info">
        <img src="../images/cocktelera.png" />
      </div>
    </div>
  </body>
</html>