<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../javascripts/cordova-2.3.0.js"></script>
    <script src="../javascripts/locale.js"></script>
    <script src="../javascripts/spin.min.js"></script>
    <script src="../javascripts/jquery-1.8.2.min.js"></script>
    <script src="../javascripts/controllers/base_controller.js"></script>
    <script src="../javascripts/controllers/cocktails_controller.js"></script>
    <script src="../javascripts/cocktail.js"></script>
    <script src="../javascripts/optionsMenu.js"></script>
    <script src="../javascripts/bootstrap/bootstrap.min.js"></script>
    <link media="screen" rel="stylesheet" href="../stylesheets/bestCocktails.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/style.css" />
    
    <script src="../javascripts/facebook-js/ui.js"></script>
    <script src="../javascripts/facebook-js/auth.js"></script>
    <script src="../javascripts/facebook-js/feed.js"></script>
    <script src="../javascripts/facebook-js/graph_api.js"></script>
    <script src="../javascripts/facebook-js/requests.js"></script>
    <!-- cordova facebook plugin -->
    <script src="../javascripts/cdv-plugin-fb-connect.js"></script>
    <!-- facebook js sdk -->
    <script src="../javascripts/facebook_js_sdk.js"></script> 
    
    <script>
      document.addEventListener("deviceready", function(){
        
        FB.init({
            appId: '326614590799358',
            nativeInterface: CDV.FB,
            useCachedDialogs: false
        });
        authUser();
        
        
        if(getUrlParameters('rating').rating != "0"){
          $('#rats').hide();
          $('#your_rate').show();
          $('#your_rate').append("<img src=\"../images/ratings/r" + getUrlParameters('rating').rating + ".png\" />");
        }
        
        $('#rating1').hover(function() {
          $(this).attr('src', '../images/ratings/r1_hover.png');
        }, function() {
          $(this).attr('src', '../images/ratings/r1.png');
        });
        
        $('#rating2').hover(function() {
          $(this).attr('src', '../images/ratings/r2_hover.png');
        }, function() {
          $(this).attr('src', '../images/ratings/r2.png');
        });
        
        $('#rating3').hover(function() {
          $(this).attr('src', '../images/ratings/r3_hover.png');
        }, function() {
          $(this).attr('src', '../images/ratings/r3.png');
        });
        
        $('#rating4').hover(function() {
          $(this).attr('src', '../images/ratings/r4_hover.png');
        }, function() {
          $(this).attr('src', '../images/ratings/r4.png');
        });
        
        $('#rating5').hover(function() {
          $(this).attr('src', '../images/ratings/r5_hover.png');
        }, function() {
          $(this).attr('src', '../images/ratings/r5.png');
        });
        
      }, false);
      
      function rate(r){
        var rate = new Object();
        rate.id_cocktail = getUrlParameters().c_id;
        rate.id_user = getUrlParameters().u_id;
        rate.imagen = getUrlParameters().imagen;
        rate.nombre = getUrlParameters().nombre;
        rate.rating = r;
        var jsonRate = JSON.stringify(rate);
        var locale = getBrowserLocale();
        $.ajax({
          type : "POST",
          url : server_url + "/ratings",
          data : JSON.parse(jsonRate),
          success : function(data) {
            alert(i18n["rating_correctly"][locale]);
            ratingCocktail(rate.nombre, rate.id_cocktail, rate.imagen);
            navigator.app.backHistory();
            //loadPage('cocktail.html', {id: getUrlParameters("c_id").c_id})
          },
          error: function(header, status, from){
            alert("Error");
          }
        });
      }
      
    </script>
    <style>
      @font-face {
        font-family: customFont;
        src: url('../fonts/knewave.ttf');
      }
      
      .content {
        font-family: customFont;
      }
      
    </style>
  </head>
  <body>
    <!-- This initializes the Facebook JS SDK. -->
    <div id="fb-root"></div>
    
    <div id="action">
      <div id="loading-icon"></div>
    
      <div id="msg"></div>
    </div>
    <div class="content">
      <div id="header2">
        <img class="logo" src="../images/logo_petit.png" alt="Sinatra Cocteleria" onclick="loadPage('index.html')"/>
      </div>
      <p data-i18n="rating_cocktail"></p>
      <div id="rats" style="margin-top: 5%;">
        <a>
          <img id="rating1" src="../images/ratings/r1.png" onclick="rate(1)"/>
        </a><br />
        <a>
          <img id="rating2" src="../images/ratings/r2.png" onclick="rate(2)"/>
        </a><br />
        <a>
          <img id="rating3" src="../images/ratings/r3.png" onclick="rate(3)"/>
        </a><br />
        <a>
          <img id="rating4" src="../images/ratings/r4.png" onclick="rate(4)"/>
        </a><br />
        <a>
          <img id="rating5" src="../images/ratings/r5.png" onclick="rate(5)"/>
        </a>
      </div>
      <div id="your_rate" style="display:none; margin-top: 5%;">
        <p data-i18n="ya_has_votado"></p><p style="margin-top: 2%;" data-i18n="tu_puntuacion"></p>
      </div>
    </div>
  </body>
</html>
