<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title data-i18n="app_name">Sinatra Cockteleria</title>
    <script src="../javascripts/cordova-2.3.0.js"></script>
    <script src="../javascripts/spin.min.js"></script>
    <script src="../javascripts/jquery-1.8.2.min.js"></script>
    <script src="../javascripts/controllers/base_controller.js"></script>
    <script src="../javascripts/controllers/cocktails_controller.js"></script>
    <script src="../javascripts/cocktail.js"></script>
    <script src="../javascripts/optionsMenu.js"></script>
    <script src="../javascripts/bootstrap/bootstrap.min.js"></script>
    <link media="screen" rel="stylesheet" href="../stylesheets/bestCocktails.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/style.css" />
    
    <!-- Facebook plugin -->
    
    <link rel="stylesheet" type="text/css" href="../stylesheets/facebook-style.css">
    <script type="text/javascript" src="../javascripts/facebook-js/index.js"></script>
    <!-- cordova facebook plugin -->
    <script src="../javascripts/cdv-plugin-fb-connect.js"></script>
    <!-- facebook js sdk -->
    <script src="../javascripts/facebook_js_sdk.js"></script> 
    
    <!--<script src="js/_config.js"></script>-->
    <script src="../javascripts/facebook-js/ui.js"></script>
    <script src="../javascripts/facebook-js/auth.js"></script>
    <script src="../javascripts/facebook-js/feed.js"></script>
    <script src="../javascripts/facebook-js/graph_api.js"></script>
    <script src="../javascripts/facebook-js/requests.js"></script>

    
    <script>
      document.addEventListener("deviceready", function(){
        
/*        FB.init({
            appId: '326614590799358',
            nativeInterface: CDV.FB,
            useCachedDialogs: false
        });
    
        authUser();
        promptLogin('');
*/

        
        
        if(getUrlParameters('rating').rating != "-1"){
          $('#rats').hide();
          $('#your_rate').show();
          $('#your_rate').append("<img src=\"../images/ratings/r" + getUrlParameters('rating').rating + ".png\" />");
        }
      }, false);
      
      function rate(r){
        var rate = new Object();
        rate.id_cocktail = getUrlParameters().c_id;
        rate.id_user = getUrlParameters().u_id;
        rate.imagen = getUrlParameters().imagen;
        rate.nombre = getUrlParameters().nombre;
        rate.rating = r;
        var jsonRate = JSON.stringify(rate);
        $.ajax({
          type : "POST",
          url : server_url + "/ratings",
          data : JSON.parse(jsonRate),
          success : function(data) {
            alert("Votado correctamente");
            ratingCocktail(rate.nombre, rate.id_cocktail, rate.imagen);
            navigator.app.backHistory();
            //loadPage('cocktail.html', {id: getUrlParameters("c_id").c_id})
          },
          error: function(header, status, from){
            alert("Error con el servidor");
          }
        });
      }
      
    </script>
    <style>
      @font-face {
        font-family: customFont;
        src: url('../fonts/knewave.ttf');
      }
      
      .content {
        font-family: customFont;
      }
      
    </style>
  </head>
  <body>
    <div class="content">
      <div id="header2">
        <img class="logo" src="../images/logo_petit.png" alt="Sinatra Cocteleria" onclick="loadPage('index.html')"/>
      </div>
      <p>Vota por el cocktail:</p>
      <div id="rats" style="margin-top: 5%;">
        <a>
          <img src="../images/ratings/r1.png" onclick="rate(1)"/>
        </a><br />
        <a>
          <img src="../images/ratings/r2.png" onclick="rate(2)"/>
        </a><br />
        <a>
          <img src="../images/ratings/r3.png" onclick="rate(3)"/>
        </a><br />
        <a>
          <img src="../images/ratings/r4.png" onclick="rate(4)"/>
        </a><br />
        <a>
          <img src="../images/ratings/r5.png" onclick="rate(5)"/>
        </a>
      </div>
      <div id="your_rate" style="display:none; margin-top: 5%;">
        <p>Ya has votado por este cocktail</p><p style="margin-top: 2%;">tu puntuación ha sido</p>
      </div>
    </div>
  </body>
</html>
