<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="../javascripts/cordova-2.3.0.js"></script>
    <script src="../javascripts/jquery-1.8.2.min.js"></script>
    <script src="../javascripts/controllers/base_controller.js"></script>
    <script src="../javascripts/spin.min.js"></script>
    <script src="../javascripts/locale.js"></script>
    
    <script src="../javascripts/facebook-js/ui.js"></script>
    <script src="../javascripts/facebook-js/auth.js"></script>
    <script src="../javascripts/facebook-js/feed.js"></script>
    <script src="../javascripts/facebook-js/graph_api.js"></script>
    <script src="../javascripts/facebook-js/requests.js"></script>
    <!-- cordova facebook plugin -->
    <script src="../javascripts/cdv-plugin-fb-connect.js"></script>
    <!-- facebook js sdk -->
    <script src="../javascripts/facebook_js_sdk.js"></script> 
    
    <link media="screen" rel="stylesheet" href="../stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/style.css" />
    <style>
      @font-face {
        font-family: customFont;
        src: url('../fonts/knewave.ttf');
      }

      .content {
        font-family: customFont;
      }
    </style>
    <script>
      function retryConnection(button){
        if(button == 1){
          var t = setTimeout(function() {
            var networkState = navigator.connection.type;
            if (networkState == Connection.NONE){
              if(locale == 'es'){
                navigator.notification.confirm("Conexión no disponible", retryConnection, "Error", 'Reintentar, Salir');
              }
              else if(locale == 'ca'){
                navigator.notification.confirm("Conexió no disponible", retryConnection, "Error", 'Reintentar, Sortir');
              }
              else{
                navigator.notification.confirm("Connection unavailable", retryConnection, "Error", 'Retry, Exit');
              }
            }
            else{
              init();
            }
          }, 2000);
        }
        else{
          navigator.app.exitApp();
        }
      }
    
      $(document).ready(function() {
      
        var locale = getBrowserLocale();
        setLocales();
        
		    //$('#element_loading_txt').hide();
		    var opts = {
          lines : 13, // The number of lines to draw
          length : 16, // The length of each line
          width : 11, // The line thickness
          radius : 20, // The radius of the inner circle
          corners : 1, // Corner roundness (0..1)
          rotate : 90, // The rotation offset
          direction : 1, // 1: clockwise, -1: counterclockwise
          color : '#DDD', // #rgb or #rrggbb
          speed : 0.5, // Rounds per second
          trail : 52, // Afterglow percentage
          shadow : true, // Whether to render a shadow
          hwaccel : true, // Whether to use hardware acceleration
          className : 'spinner', // The CSS class to assign to the spinner
          zIndex : 2e9, // The z-index (defaults to 2000000000)
          top : 'auto', // Top position relative to parent in px
          left : 'auto' // Left position relative to parent in px
        }
        var target = document.getElementById('element_loading');
        var spinner = new Spinner(opts).spin(target);
        //$('#element_loading_txt').show();
        console.log("before init");
        
        var t = setTimeout(function() {
          if(locale == 'es'){
            $('#element_loading_txt').html("Comprobando conexión");
          }
          else if(locale == 'ca'){
            $('#element_loading_txt').html("Comprovant conexión");
          }
          else{
            $('#element_loading_txt').html("Checking connection");
          }
          
          var networkState = navigator.connection.type;
          if (networkState == Connection.NONE){
            if(locale == 'es'){
              navigator.notification.confirm("Conexión no disponible", retryConnection, "Error", 'Reintentar, Salir');
            }
            else if(locale == 'ca'){
              navigator.notification.confirm("Conexió no disponible", retryConnection, "Error", 'Reintentar, Sortir');
            }
            else{
              navigator.notification.confirm("Connection unavailable", retryConnection, "Error", 'Retry, Exit');
            }
          }
          else{
            if(locale == 'es'){
              $('#element_loading_txt').html("Actualizando aplicación");
            }
            else if(locale == 'ca'){
              $('#element_loading_txt').html("Actualitzant aplicació");
            }
            else{
              $('#element_loading_txt').html("Updating application");
            }
        		init();
          }
        },1000);
        
        
      });
      function init() {
        var locale = getBrowserLocale();



        //Descarregar zumos
        $.ajax({
          type : "GET",
          async : false,
          url : "http://www.sinatracockteleriapp.com/api/juices",
          dataType : "json",
          success : function(data) {

            console.log("success zumos");
            console.log("------> DATA: " + JSON.stringify(data));

            //Obtenir el timestamp més elevat
            var vZumoDown = null;
            $(data).each(function(k,v){
              console.log("TIMESTAMP: " + new Date(v.timestamp));
              if(vZumoDown == null || new Date(vZumoDown) < new Date(v.timestamp)){ 
                vZumoDown = v.timestamp
              }
            });

            console.log("TIMESTAMP: " + vZumoDown);

            //Si el més elevat es després del que tenim guardat o no en tenim cap de guardat, guardar tots els sucs
            console.log("Version zumos: " + window.localStorage.getItem("vZumo"));
            vZumoLocal = window.localStorage.getItem("vZumo");
            
            console.log("vZumoLocal=" + vZumoLocal + " - vZumoDown=" + vZumoDown);
            console.log("Comparison:");
            console.log("vZumoLocal = " + vZumoLocal);
            console.log("new Date(vZumoLocal) <= new Date(vZumoDown) = " + new Date(vZumoLocal) <= new Date(vZumoDown));
            
            if(vZumoLocal == "null" || new Date(vZumoLocal) < new Date(vZumoDown)){
              console.log("Dentro del if");
              //guardar el nou timestamp (el mes elevat) i el llistat de sucs
              window.localStorage.setItem("vZumo", vZumoDown);
              window.localStorage.setItem("list_Zumo", JSON.stringify(data));
              console.log("Hemos guardado una nueva version"); 
            }
            else{
              //Altrament, no guardar res
              console.log("No hemos guardado ninguna nueva version");
            }
            
          },
          error : function(header, status, from) {
            if(locale == 'es'){
              navigator.notification.confirm("Error de conexión", retryConnection, "Error", 'Reintentar, Salir');
            }
            else if(locale == 'ca'){
              navigator.notification.confirm("Error de conexió", retryConnection, "Error", 'Reintentar, Sortir');
            }
            else{
              navigator.notification.confirm("Connection unavailable", retryConnection, "Error", 'Retry, Exit');
            }
          }
        });
  
        $.ajax({
          type : "GET",
          async : false,
          url : "http://www.sinatracockteleriapp.com/api/licors",
          dataType : "json",
          success : function(data) {

            console.log("success licores");
            console.log("------> DATA: " + JSON.stringify(data));

            //Obtenir el timestamp més elevat
            var vLicorDown = null;
            $(data).each(function(k,v){
              console.log("TIMESTAMP: " + new Date(v.timestamp));
              if(vLicorDown == null || new Date(vLicorDown) < new Date(v.timestamp)){ 
                vLicorDown = v.timestamp
              }
            });

            console.log("TIMESTAMP: " + vLicorDown);

            //Si el més elevat es després del que tenim guardat o no en tenim cap de guardat, guardar tots els sucs
            console.log("Version licores: " + window.localStorage.getItem("vLicor"));
            vLicorLocal = window.localStorage.getItem("vLicor");
            
            console.log("vLicorLocal=" + vLicorLocal + " - vLicorDown=" + vLicorDown);
            console.log("Comparison:");
            console.log("vLicorLocal = " + vLicorLocal);
            console.log("new Date(vLicorLocal) <= new Date(vLicorDown) = " + new Date(vLicorLocal) <= new Date(vLicorDown));
            
            if(vLicorLocal == "null" || new Date(vLicorLocal) < new Date(vLicorDown)){
              console.log("Dentro del if");
              //guardar el nou timestamp (el mes elevat) i el llistat de sucs
              window.localStorage.setItem("vLicor", vLicorDown);
              window.localStorage.setItem("list_Licor", JSON.stringify(data));
              console.log("Hemos guardado una nueva version"); 
            }
            else{
              //Altrament, no guardar res
              console.log("No hemos guardado ninguna nueva version");
            }
            
          },
          error : function(header, status, from) {
            if(locale == 'es'){
              navigator.notification.confirm("Error de conexión", retryConnection, "Error", 'Reintentar, Salir');
            }
            else if(locale == 'ca'){
              navigator.notification.confirm("Error de conexió", retryConnection, "Error", 'Reintentar, Sortir');
            }
            else{
              navigator.notification.confirm("Connection unavailable", retryConnection, "Error", 'Retry, Exit');
            }
          }
        });
        
        //Descarregar carbonicos
        $.ajax({
          type : "GET",
          async : false,
          url : "http://www.sinatracockteleriapp.com/api/carbonics",
          dataType : "json",
          success : function(data) {

            console.log("success carbonicos");
            console.log("------> DATA: " + JSON.stringify(data));

            //Obtenir el timestamp més elevat
            var vCarbonicoDown = null;
            $(data).each(function(k,v){
              console.log("TIMESTAMP: " + new Date(v.timestamp));
              if(vCarbonicoDown == null || new Date(vCarbonicoDown) < new Date(v.timestamp)){ 
                vCarbonicoDown = v.timestamp
              }
            });

            console.log("TIMESTAMP: " + vCarbonicoDown);

            //Si el més elevat es després del que tenim guardat o no en tenim cap de guardat, guardar tots els sucs
            console.log("Version carbonicos: " + window.localStorage.getItem("vCarbonico"));
            vCarbonicoLocal = window.localStorage.getItem("vCarbonico");
            
            console.log("vCarbonicoLocal=" + vCarbonicoLocal + " - vCarbonicoDown=" + vCarbonicoDown);
            console.log("Comparison:");
            console.log("vCarbonicoLocal = " + vCarbonicoLocal);
            console.log("new Date(vCarbonicoLocal) <= new Date(vCarbonicoDown) = " + new Date(vCarbonicoLocal) <= new Date(vCarbonicoDown));
            
            if(vCarbonicoLocal == "null" || new Date(vCarbonicoLocal) < new Date(vCarbonicoDown)){
              console.log("Dentro del if");
              //guardar el nou timestamp (el mes elevat) i el llistat de sucs
              window.localStorage.setItem("vCarbonico", vCarbonicoDown);
              window.localStorage.setItem("list_Carbonico", JSON.stringify(data));
              console.log("Hemos guardado una nueva version"); 
            }
            else{
              //Altrament, no guardar res
              console.log("No hemos guardado ninguna nueva version");
            }
            
          },
          error : function(header, status, from) {
            if(locale == 'es'){
              navigator.notification.confirm("Error de conexión", retryConnection, "Error", 'Reintentar, Salir');
            }
            else if(locale == 'ca'){
              navigator.notification.confirm("Error de conexió", retryConnection, "Error", 'Reintentar, Sortir');
            }
            else{
              navigator.notification.confirm("Connection unavailable", retryConnection, "Error", 'Retry, Exit');
            }
          }
        });

        //Descarregar vasos
        $.ajax({
          type : "GET",
          async : false,
          url : "http://www.sinatracockteleriapp.com/api/glasses",
          dataType : "json",
          success : function(data) {

            console.log("success vasos");
            console.log("------> DATA: " + JSON.stringify(data));

            //Obtenir el timestamp més elevat
            var vVasoDown = null;
            $(data).each(function(k,v){
              console.log("TIMESTAMP: " + new Date(v.timestamp));
              if(vVasoDown == null || new Date(vVasoDown) < new Date(v.timestamp)){ 
                vVasoDown = v.timestamp
              }
            });

            console.log("TIMESTAMP: " + vVasoDown);

            //Si el més elevat es després del que tenim guardat o no en tenim cap de guardat, guardar tots els sucs
            console.log("Version vasos: " + window.localStorage.getItem("vVaso"));
            vVasoLocal = window.localStorage.getItem("vVaso");
            
            console.log("vVasoLocal=" + vVasoLocal + " - vVasoDown=" + vVasoDown);
            console.log("Comparison:");
            console.log("vVasoLocal = " + vVasoLocal);
            console.log("new Date(vVasoLocal) <= new Date(vVasoDown) = " + new Date(vVasoLocal) <= new Date(vVasoDown));
            
            if(vVasoLocal == "null" || new Date(vVasoLocal) < new Date(vVasoDown)){
              console.log("Dentro del if");
              //guardar el nou timestamp (el mes elevat) i el llistat de sucs
              window.localStorage.setItem("vVaso", vVasoDown);
              window.localStorage.setItem("list_Vaso", JSON.stringify(data));
              console.log("Hemos guardado una nueva version"); 
            }
            else{
              //Altrament, no guardar res
              console.log("No hemos guardado ninguna nueva version");
            }
            
          },
          error : function(header, status, from) {
            if(locale == 'es'){
              navigator.notification.confirm("Error de conexión", retryConnection, "Error", 'Reintentar, Salir');
            }
            else if(locale == 'ca'){
              navigator.notification.confirm("Error de conexió", retryConnection, "Error", 'Reintentar, Sortir');
            }
            else{
              navigator.notification.confirm("Connection unavailable", retryConnection, "Error", 'Retry, Exit');
            }
          }
        });
        
        //Descarregar galeria
        $.ajax({
          type : "GET",
          async : false,
          url : "http://www.sinatracockteleriapp.com/api/galleries",
          dataType : "json",
          success : function(data) {

            console.log("success galeria");
            console.log("------> DATA: " + JSON.stringify(data));

            //Obtenir el timestamp més elevat
            var vGaleriaDown = null;
            $(data).each(function(k,v){
              console.log("TIMESTAMP: " + new Date(v.timestamp));
              if(vGaleriaDown == null || new Date(vGaleriaDown) < new Date(v.timestamp)){ 
                vGaleriaDown = v.timestamp
              }
            });

            console.log("TIMESTAMP: " + vGaleriaDown);

            //Si el més elevat es després del que tenim guardat o no en tenim cap de guardat, guardar tots els sucs
            console.log("Version galeria: " + window.localStorage.getItem("vGaleria"));
            vGaleriaLocal = window.localStorage.getItem("vGaleria");
            
            console.log("vGaleriaLocal=" + vGaleriaLocal + " - vGaleriaDown=" + vGaleriaDown);
            console.log("Comparison:");
            console.log("vGaleriaLocal = " + vGaleriaLocal);
            console.log("new Date(vGaleriaLocal) <= new Date(vGaleriaDown) = " + new Date(vGaleriaLocal) <= new Date(vGaleriaDown));
            
            if(vGaleriaLocal == "null" || new Date(vGaleriaLocal) < new Date(vGaleriaDown)){
              console.log("Dentro del if");
              //guardar el nou timestamp (el mes elevat) i el llistat de sucs
              window.localStorage.setItem("vGaleria", vGaleriaDown);
              window.localStorage.setItem("list_Galeria", JSON.stringify(data));
              console.log("Hemos guardado una nueva version"); 
            }
            else{
              //Altrament, no guardar res
              console.log("No hemos guardado ninguna nueva version");
            }
            
          },
          error : function(header, status, from) {
            if(locale == 'es'){
              navigator.notification.confirm("Error de conexión", retryConnection, "Error", 'Reintentar, Salir');
            }
            else if(locale == 'ca'){
              navigator.notification.confirm("Error de conexió", retryConnection, "Error", 'Reintentar, Sortir');
            }
            else{
              navigator.notification.confirm("Connection unavailable", retryConnection, "Error", 'Retry, Exit');
            }
          }
        });
        
        //Descarregar mapa
        $.ajax({
          type : "GET",
          async : false,
          url : "http://www.sinatracockteleriapp.com/api/maps",
          dataType : "json",
          success : function(data) {

            console.log("success mapa");
            console.log("------> DATA: " + JSON.stringify(data));

            //Obtenir el timestamp més elevat
            var vMapaDown = null;
            $(data).each(function(k,v){
              console.log("TIMESTAMP: " + new Date(v.timestamp));
              if(vMapaDown == null || new Date(vMapaDown) < new Date(v.timestamp)){ 
                vMapaDown = v.timestamp
              }
            });

            console.log("TIMESTAMP: " + vMapaDown);

            //Si el més elevat es després del que tenim guardat o no en tenim cap de guardat, guardar tots els sucs
            console.log("Version mapa: " + window.localStorage.getItem("vMapa"));
            vMapaLocal = window.localStorage.getItem("vMapa");
            
            console.log("vMapaLocal=" + vMapaLocal + " - vMapaDown=" + vMapaDown);
            console.log("Comparison:");
            console.log("vMapaLocal = " + vMapaLocal);
            console.log("new Date(vMapaLocal) <= new Date(vMapaDown) = " + new Date(vMapaLocal) <= new Date(vMapaDown));
            
            if(vMapaLocal == "null" || new Date(vMapaLocal) < new Date(vMapaDown)){
              console.log("Dentro del if");
              //guardar el nou timestamp (el mes elevat) i el llistat de sucs
              window.localStorage.setItem("vMapa", vMapaDown);
              window.localStorage.setItem("list_Mapa", JSON.stringify(data));
              console.log("Hemos guardado una nueva version"); 
            }
            else{
              //Altrament, no guardar res
              console.log("No hemos guardado ninguna nueva version");
            }
            
          },
          error : function(header, status, from) {
            if(locale == 'es'){
              navigator.notification.confirm("Error de conexión", retryConnection, "Error", 'Reintentar, Salir');
            }
            else if(locale == 'ca'){
              navigator.notification.confirm("Error de conexió", retryConnection, "Error", 'Reintentar, Sortir');
            }
            else{
              navigator.notification.confirm("Connection unavailable", retryConnection, "Error", 'Retry, Exit');
            }
          }
        });        
  	    FB.init({
  	      appId: '326614590799358',
  	      nativeInterface: CDV.FB,
  	      useCachedDialogs: false
  	    });
  	    authUser();
  	    promptLogin(true);    
      }
      
    </script>
  </head>
  <body style="background-color: #000">
    <!-- This initializes the Facebook JS SDK. -->
    <div id="fb-root"></div>
    
    <div id="action">
      <div id="loading-icon"></div>
    
      <div id="msg"></div>
    </div>
    
    <div class="content">
      <div id="element_loading" style="position: absolute; top: 75%;"></div>
      <div data-i18n="initializing_app" id="element_loading_txt" style="position: absolute;top: 90%; width: 100%; text-align: center;"></div>
      <img id="splash-logo" src="../images/logo.jpg" alt="Sinatra Cockteleria" />
    </div>
  </body>
</html>