<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title data-i18n="app_name"></title>
    <script src="../javascripts/cordova-2.3.0.js"></script>
    <script src="../javascripts/jquery-1.8.2.min.js"></script>
    <script src="../javascripts/controllers/base_controller.js"></script>
    <script src="../javascripts/optionsMenu.js"></script>
	  <script src="../javascripts/webintent.js"></script>
    <link media="screen" rel="stylesheet" href="../stylesheets/reset.css" />
    <link media="screen" rel="stylesheet" href="../stylesheets/style.css" />
    <script src="../javascripts/facebook-js/ui.js"></script>
    <script src="../javascripts/facebook-js/auth.js"></script>
    <script src="../javascripts/facebook-js/feed.js"></script>
    <script src="../javascripts/facebook-js/graph_api.js"></script>
    <script src="../javascripts/facebook-js/requests.js"></script>
    <!-- cordova facebook plugin -->
    <script src="../javascripts/cdv-plugin-fb-connect.js"></script>
    <!-- facebook js sdk -->
    <script src="../javascripts/facebook_js_sdk.js"></script> 
    
    <script>
      document.addEventListener("deviceready", function(){
        FB.init({
            appId: '326614590799358',
            nativeInterface: CDV.FB,
            useCachedDialogs: false
        });
        authUser();
        
        $('#mailImg').hover(function() {
          $(this).attr('src', '../images/ic_mail_hover.png');
        }, function() {
          $(this).attr('src', '../images/ic_mail.png');
        });
        
      });
    </script>
    
  </head>
  <body>
    <!-- This initializes the Facebook JS SDK. -->
    <div id="fb-root"></div>
    
    <div id="action">
      <div id="loading-icon"></div>
    
      <div id="msg"></div>
    </div>
    <div class="content">
      <div id="header">
        <img class="logo" src="../images/logo_petit.png" alt="Sinatra Cocteleria" onclick="loadPage('index.html')"/>
      </div>
      <div id="who-div">
        <img src="../images/gallery1.png" />
				<ul>
					<li>Somos una empresa dedicada a la formaci&oacute;n en todos los aspectos de la licoreria.</li>
					<li>Cockteleria, mixologia, administraci&oacute;n de barras, protocolo de servicio y m&aacute;s.</li>
					<li>Realizamos tambi&eacute;n eventos de cockteleria por todo el territorio nacional.</li>
				</ul>
      </div>
			<div id="galeria">
        <a onclick="loadPage('gallery.html')" id="gallery-link">
				  Galeria de imagenes
				</a>
				</td>
			</div>
			<div id="social"><!--
        <a href="https://www.facebook.com/sinatra.cockteleria"><img src="../images/ic_facebook.png" alt="Facebook"/></a>
        &nbsp;
        &nbsp;-->
        <a onclick="sendEmail('info@sinatracockteleria.com', '', '')"><img id="mailImg" src="../images/ic_mail.png" alt="Email"/></a>
      </div>
    </div>
  </body>
</html>